<%- include('../partials/header.ejs') %>
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Users</h1>
    </div>
    <p>This is data of users</p>
    <div class="card">
        <div class="card-header with-border">
            <a href="/users/add" class="btn btn-primary btn-sm btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-solid fa-plus"></i>
                </span>
                <span class="text">Add</span>
            </a>
        </div>
        <div class="card-body table-responsive">
            <table class="table table-bordered" id="dataTable">
                <thead>
                    <tr>
                        <th width="13%">User ID</th>
                        <th>Email</th>
                        <th>Name</th>
                        <th>Role</th>
                        <th><i class="fa fa-cog"></i> Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <th width="13%">User ID</th>
                    <th>Email</th>
                    <th>Name</th>
                    <th>Role</th>
                    <th><i class="fa fa-cog"></i> Action</th>
                </tfoot>
            </table>
        </div>
    </div>
    <script>
        $(document).ready(() => {
            $('#dataTable').DataTable({
                "lenghtMenu": [[1, 5, -1], [1, 5, "All"]],
                "processing": true,
                "serverSide": true,
                "ajax": "/users/datatable",
                "columns":[
                    {"data": "userid"},
                    {"data": "email"},
                    {"data": "name"},
                    {"data": "role"},
                    {"data": "userid",
                    render: (data)=>{
                        return `
                        <a href="/users/edit/${data}" class="btn btn-circle btn-sm btn-success">
                            <i class="fas fa-solid fa-info"></i>
                        </a>
                        <a class="btn btn-circle btn-sm btn-danger" data-toggle="modal" data-target="#deleteModal${data}">
                            <i class="fas fa-solid fa-trash"></i>
                        </a>
                        <div class="modal fade" id="deleteModal${data}" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Deleted
                                            Confirmation</h5>
                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">Are you sure, you want delete it ? </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-secondary" type="button" data-dismiss="modal">No</button>
                                        <a class="btn btn-primary" href="/users/delete/${data}">Yes</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        `
                    }}
                ]
            })
        })
    </script>
    <%- include('../partials/footer.ejs') %>